.photoApp {
  background-color: white;
  padding-bottom: 100px;
  width: 100%;
  min-height: 100%;
}

.photoListContainer {
}

.photoList {
  min-height: 100%;
  width: 1000px;
  margin: auto;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 1fr;
  gap: 0px 0px;
  grid-template-areas: '.';
  row-gap: 10px;
}
